html {
    width: 100%;
    background-color: brown;
}

body {
    background-color: brown;
}

#main {
    background-color: bisque;
}

#surveyBtn {
    text-align: center;
}

#heading {
    background-color: bisque;
    color: blue;
}

#footing {
    text-align: center;
    background-color: bisque;
}

h1, h3, h4 {
    text-align: center;
}

#modality {
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
}